.input-group.pesquisa-cep button {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.input-group.pesquisa-cep input {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.semelhante-img {
    width: 120px;
    height: 90px;
    object-fit: contain;
}

@media all and (max-width: 640px) {
    .semelhante-img {
        width: 100%ç
    }
}

.product-name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}