#filtros .list-group-item {
    padding: .5rem 1rem;
}

#product-list .card-subtitle {
    font-size: .75rem;
}

.product-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.product-item a .btn-know-more {
    opacity: 0;
    transition: all .3s;
}
.product-item a:hover .btn-know-more {
    opacity: 1;
}